---
http_interactions:
- request:
    method: get
    uri: http://data.fixer.io/api/latest?access_key=c9aae6d7b9d240dfc732423049794d70&format=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Apilayer-Transaction-Id:
      - 3c97017e-c9ab-485a-8c39-94260a364ac9
      Last-Modified:
      - Mon, 05 Oct 2020 09:34:05 GMT
      X-Request-Time:
      - '0.025'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "success":true,
          "timestamp":1601890445,
          "base":"EUR",
          "date":"2020-10-05",
          "rates":{
            "AED":4.316672,
            "AFN":90.197135,
            "ALL":124.265902,
            "AMD":574.232801,
            "ANG":2.107348,
            "AOA":741.011753,
            "ARS":90.345653,
            "AUD":1.63647,
            "AWG":2.115457,
            "AZN":1.987992,
            "BAM":1.960315,
            "BBD":2.370323,
            "BDT":99.529215,
            "BGN":1.958889,
            "BHD":0.44313,
            "BIF":2269.24054,
            "BMD":1.175254,
            "BND":1.601291,
            "BOB":8.106247,
            "BRL":6.679322,
            "BSD":1.173986,
            "BTC":0.00011,
            "BTN":86.130767,
            "BWP":13.509682,
            "BYN":3.078243,
            "BYR":23034.977827,
            "BZD":2.366414,
            "CAD":1.559738,
            "CDF":2309.374069,
            "CHF":1.076245,
            "CLF":0.033631,
            "CLP":927.985612,
            "CNY":7.980912,
            "COP":4550.583375,
            "CRC":708.520132,
            "CUC":1.175254,
            "CUP":31.14423,
            "CVE":110.517863,
            "CZK":27.100536,
            "DJF":208.998187,
            "DKK":7.439792,
            "DOP":68.501606,
            "DZD":151.639247,
            "EGP":18.481223,
            "ERN":17.629036,
            "ETB":43.396744,
            "EUR":1,
            "FJD":2.491075,
            "FKP":0.907763,
            "GBP":0.907843,
            "GEL":3.772315,
            "GGP":0.907763,
            "GHS":6.809079,
            "GIP":0.907763,
            "GMD":60.851915,
            "GNF":11497.509626,
            "GTQ":9.139411,
            "GYD":245.481655,
            "HKD":9.108748,
            "HNL":28.906507,
            "HRK":7.567574,
            "HTG":77.38772,
            "HUF":358.040961,
            "IDR":17315.780667,
            "ILS":4.021284,
            "IMP":0.907763,
            "INR":86.09617,
            "IQD":1401.496589,
            "IRR":49484.068173,
            "ISK":162.196538,
            "JEP":0.907763,
            "JMD":166.101159,
            "JOD":0.833254,
            "JPY":124.155001,
            "KES":127.573469,
            "KGS":93.418706,
            "KHR":4822.675241,
            "KMF":494.195366,
            "KPW":1057.769359,
            "KRW":1363.811759,
            "KWD":0.359867,
            "KYD":0.978338,
            "KZT":508.553559,
            "LAK":10827.67402,
            "LBP":1775.26167,
            "LKR":216.656306,
            "LRD":233.464332,
            "LSL":19.56822,
            "LTL":3.470219,
            "LVL":0.7109,
            "LYD":1.607979,
            "MAD":10.864558,
            "MDL":19.840093,
            "MGA":4572.680623,
            "MKD":61.748398,
            "MMK":1530.271393,
            "MNT":3343.989436,
            "MOP":9.371441,
            "MRO":419.566074,
            "MUR":46.833706,
            "MVR":18.111119,
            "MWK":882.0985,
            "MXN":25.284057,
            "MYR":4.886708,
            "MZN":85.058997,
            "NAD":19.568292,
            "NGN":450.803622,
            "NIO":40.890252,
            "NOK":10.889086,
            "NPR":137.811068,
            "NZD":1.768387,
            "OMR":0.452464,
            "PAB":1.173986,
            "PEN":4.233987,
            "PGK":4.160054,
            "PHP":56.881129,
            "PKR":193.23809,
            "PLN":4.492596,
            "PYG":8200.763504,
            "QAR":4.279091,
            "RON":4.869423,
            "RSD":117.566551,
            "RUB":92.158727,
            "RWF":1145.645798,
            "SAR":4.40809,
            "SBD":9.597907,
            "SCR":21.131545,
            "SDG":65.020895,
            "SEK":10.466095,
            "SGD":1.599709,
            "SHP":0.907763,
            "SLL":11535.117426,
            "SOS":685.17287,
            "SRD":16.634504,
            "STD":24720.071111,
            "SVC":10.272502,
            "SYP":601.698355,
            "SZL":19.512793,
            "THB":36.915236,
            "TJS":12.115419,
            "TMT":4.113389,
            "TND":3.250162,
            "TOP":2.711784,
            "TRY":9.116692,
            "TTD":7.968531,
            "TWD":33.851972,
            "TZS":2726.58922,
            "UAH":33.28478,
            "UGX":4349.551719,
            "USD":1.175254,
            "UYU":50.005418,
            "UZS":12054.32972,
            "VEF":11.737852,
            "VND":27270.593138,
            "VUV":133.3875,
            "WST":3.073149,
            "XAF":657.469673,
            "XAG":0.04906,
            "XAU":0.000619,
            "XCD":3.176183,
            "XDR":0.832315,
            "XOF":657.46127,
            "XPF":120.251938,
            "YER":294.224822,
            "ZAR":19.281122,
            "ZMK":10578.698494,
            "ZMW":23.533444,
            "ZWL":378.432168
          }
        }
  recorded_at: Mon, 05 Oct 2020 09:47:13 GMT
- request:
    method: get
    uri: http://data.fixer.io/api/symbols?access_key=c9aae6d7b9d240dfc732423049794d70
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Apilayer-Transaction-Id:
      - caf5cf0f-138a-49de-80c1-ba91693782da
      X-Request-Time:
      - '0.017'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"symbols":{"AED":"United Arab Emirates Dirham","AFN":"Afghan
        Afghani","ALL":"Albanian Lek","AMD":"Armenian Dram","ANG":"Netherlands Antillean
        Guilder","AOA":"Angolan Kwanza","ARS":"Argentine Peso","AUD":"Australian Dollar","AWG":"Aruban
        Florin","AZN":"Azerbaijani Manat","BAM":"Bosnia-Herzegovina Convertible Mark","BBD":"Barbadian
        Dollar","BDT":"Bangladeshi Taka","BGN":"Bulgarian Lev","BHD":"Bahraini Dinar","BIF":"Burundian
        Franc","BMD":"Bermudan Dollar","BND":"Brune[...]
[...]
